
@import "primeicons/primeicons.css";

/*.modal-open-scroll-blocker {
    overflow: hidden !important; 
   
}*/


:root {
    --color-principal: #3a8ee0;      
    --color-fondo-claro: #f8faff; 
    --color-borde: #e0e6f7;
    --color-agendar: #65cf72;        
    --color-gris-claro: #f0f0f0;     
    --color-pestana: #e2a5aa;       
    --color-pestana-activa: #ff8a80; 
    --color-fondo-celda-ocupada: #f5f5f5; 
}


